* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.grid-container{
    width: 100%;
    /*max-width: 960px;*/
    
}

.row::before,row::after{
    content: "";
    height: 0;
    display: table;
    clear: both;
    visibility: hidden;
}

[class*='col-']{
    float: left;
    padding: 20px;
    min-height: 10px;
    /*border:1px solid #eee;*/

    outline: 1px solid #999; /**轮廓线不会占据空间，也不一定是矩形。*/
}

@media screen and (max-width:600px){
    .col-sm-1{
        width: 25%;
    }
    .col-sm-2{
        width: 50%;
    }
    .col-sm-3{
        width: 75%;
    }
    .col-sm-4{
        width: 100%;
    }
}

@media screen and (min-width:600px){
    .col-md-1{
        width: 12.5%;
    }
    .col-md-2{
        width: 25%;
    }
    .col-md-3{
        width: 37.5%;
    }
    .col-md-4{
        width: 50%;
    }
    .col-md-5{
        width: 62.5%;
    }
    .col-md-6{
        width: 75%;
    }
    .col-md-7{
        width: 87.5%;
    }
    .col-md-8{
        width: 100%;
    }
}